.wrapper {
   display: grid;
   grid-template-columns: auto minmax(320px, 1000px) auto;
   grid-template-rows: auto 1fr auto;
   gap: 24px 30px;
   min-height: 100vh;
   grid-template-areas:
      ". header ."
      ". body ."
      ". footer .";
}

.header {
   grid-area: header;
}


.body {
   grid-area: body;
   padding: 0px 30px;
}

.footer {
   grid-area: footer;
   padding: 0px 16px;
}