.title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;

   border-bottom: 1px solid var(--gray);

   padding-bottom: 8px;
   margin-bottom: 8px;
}

.filter {
   display: grid;
   grid-template-columns: 1fr auto;
}

.range {
   display: flex;
}

.range span {
   margin: 0 3px;
   cursor: pointer;
   text-decoration: underline;
}

.range span.active {
   font-weight: 700;
   text-decoration: none;
}

.lable {
   margin-left: 5px;
}

@media (max-width: 900px) {
   .filter {
      display: block;
   }

   .range {
      margin-bottom: 10px;
   }
}

@media (max-width: 600px) {
   .range {
      display: block;
      line-height: 120%;
   }
}