.header {
   display: grid;
   height: 110px;
   grid-template-columns: 1fr 160px;
   gap: 30px;
   padding: 16px 30px;
   position: relative;
   overflow: hidden;
   color: #fff;
}

.header div {
   z-index: 2;
}

.header a {
   color: #fff;
}

.title {
   font-weight: 700;
   font-size: 28px;
   line-height: 32px;
   margin-bottom: 8px;
}

.subTitle {
   line-height: 20px;
}

.links a{
   text-decoration-line: underline;
}

.links a:first-child {
   margin-right: 24px;
}

.img {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.active {
   font-weight: bold;
}

.links .active{
   text-decoration-line: none;
}